<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jobya - Responsive Job Board HTML Template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="../../images/logo-noir.png"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="../../css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="../../css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="../../css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />

</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<!-- Navigation Bar-->
<header id="topnav" class="defaultscroll scroll-active">
    <!-- Menu Start -->
    <div class="container">
        <!-- Logo container-->
        <div>
            <a href="mySpaceRecruiter.html" class="logo">
                <img src="../../images/logo-blanc.png" alt="" class="logo-light"  height="60"  width="230" />
                <img src="../../images/logo-noir.png" alt="" class="logo-dark" height="60"  width="230" />
            </a>
        </div>


        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a th:href = "@{/offersForCandidates}">Home</a></li>
                <li><a th:href = "@{/application/check}" >My Applications</a></li>
                <li><a th:href = "@{/candidates/checkInterviews}">Interviews</a></li>

                <li class="has-submenu">
                    <a href="javascript:void(0)">Resume</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a th:href="@{/resumeForm}">Create Resume</a></li>
                        <li><a th:href="@{/upResume}">Upload Resume</a></li>
                        <li><a th:href="@{/editToResumeForm}">Edit Resume</a></li>
                        <li><a th:href="@{/deleteResume}">Delete Resume</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:void(0)">My profile </a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a th:href="@{/candidates/profil}">My profile</a></li>
                        <li><a th:href="@{/editAccount}" >Account settings</a></li>
                        <li><a th:href = "@{/delete}">Delete account</a></li>
                        <li><a th:href = "@{/logout}">Sign out </a></li>
                    </ul>
                </li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
    <!--end end-->
</header>


<!-- Start home -->
<section class="bg-half page-next-level">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <h4 class="text-uppercase title mb-4">Job List view</h4>
                    <ul class="page-next d-inline-block mb-0">
                        <li><a href="index.html" class="text-uppercase font-weight-bold">Home</a></li>
                        <li><a href="#" class="text-uppercase font-weight-bold">Jobs</a></li>
                        <li>
                            <span class="text-uppercase text-white font-weight-bold">Job Listing</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<div class="container">
    <div class="home-form-position">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="home-registration-form job-list-reg-form bg-light shadow p-4 mb-3">
                    <form class="registration-form">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-briefcase"></i>
                                    <input type="text" id="exampleInputName1" class="form-control rounded registration-input-box" placeholder="Job keybords...">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-location-arrow"></i>
                                    <input type="text" id="location" class="form-control rounded registration-input-box" placeholder="Location">

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-list-alt"></i>
                                    <input type="text" id="experience" class="form-control rounded registration-input-box" placeholder="Years of Experience">

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JOB LIST START -->
<section class="section pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">Available job for you</h4>
                    <!--<p class="text-muted para-desc mx-auto mb-1">Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>-->
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-9 mt-4 pt-2">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="show-results">
                            <div class="float-left">
                                <h5 class="text-dark mb-0 pt-2 f-18">Showing results : <span th:text="${nbrAll}"></span> </h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row" th:each="offer: ${offers} ">
                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="job-list-box border rounded">
                            <div class="p-3">
                                <div class="row align-items-center">

                                    <div class="col-lg-7 col-md-9">
                                        <div class="job-list-desc">

                                            <h6 th:text="${offer.profile}" class="mb-2"></h6>
                                            <p th:text="${offer.companyName}" class="text-muted mb-0"><i class="mdi mdi-bank mr-2"></i></p>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-3">
                                                    <p th:text="${offer.location}" class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i></p>
                                                </li>

                                                <li class="list-inline-item">
                                                    <p th:text="'Posted:' + ${offer.dateCreation}" class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i></p>
                                                </li>
                                            </ul>
                                            <p th:text="'Expired:' + ${offer.dateOffer}" class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i> </p>
                                            <p th:text="'$ '+ ${offer.salary}" class="text-muted mb-0"> </p>
                                            <div class="progress-box mt-4">
                                                <p class="text-muted mt-1 mb-0">Similarity : <span th:text="${offer.similarity}"></span>%</p>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped position-relative bg-primary" th:style="'width: ' + ${offer.similarity} + '%;'">
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                            <p th:text="${offer.missingSkills}" class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i> </p>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="job-list-button-sm text-right">
                                            <div class="mt-3">
                                                <a th:href="@{/offer/detail/Candidate/{id}(id=${offer.idOffer})}" class="btn btn-sm btn-primary">Offer Details</a>
                                            </div>
                                            <div class="mt-3">
                                                <a th:href="@{/offers/apply/{id}(id=${offer.idOffer})}" class="btn btn-sm btn-primary">Apply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>
</section>
<!-- JOB LIST START -->



<!-- footer start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="javascript:void(0)"><img src="images/logo-light.png" height="20" alt=""></a>
                <p class="mt-4">At vero eos et accusamus et iusto odio dignissim os ducimus qui blanditiis praesentium</p>
                <ul class="social-icon social list-inline mb-0">
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title">Company</p>
                <ul class="list-unstyled footer-list">
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Media & Press</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Career</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Pricing</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Marketing</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> CEOs </a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Agencies</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Our Apps</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title">Resources</p>
                <ul class="list-unstyled footer-list">
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Support</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Terms</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Accounting </a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Billing</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> F.A.Q.</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title f-17">Business Hours</p>
                <ul class="list-unstyled text-foot mt-4 mb-0">
                    <li>Monday - Friday : 9:00 to 17:00</li>
                    <li class="mt-2">Saturday : 10:00 to 15:00</li>
                    <li class="mt-2">Sunday : Day Off (Holiday)</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<hr>
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="">
                    <p class="mb-0">© 2019 Jobya. Design with <i class="mdi mdi-heart text-danger"></i> by Themesdesign.</p>
                </div>
            </div>
        </div>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" class="back-to-top rounded text-center" id="back-to-top">
    <i class="mdi mdi-chevron-up d-block"> </i>
</a>
<!-- Back to top -->

<!-- javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/plugins.js"></script>

<!-- selectize js -->
<script src="js/selectize.min.js"></script>

<script src="js/jquery.nice-select.min.js"></script>

<script src="js/app.js"></script>
</body>
</html>








<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>My Space as a Candidate</title>
</head>
<body>
<div class="container">
    <h2>My Space -Candidate-</h2>
    <hr>
    <a th:href="@{/editAccount}" class="btn btn-primary btn-sm mb-3"> Edit account </a>
    <a th:href = "@{/delete}" class="btn btn-primary btn-sm mb-3"> Delete account</a>
    <a th:href = "@{/logout}" class="btn btn-primary btn-sm mb-3"> log out</a> <br> <hr>

    <a th:href = "@{/resumes}" class="btn btn-primary btn-sm mb-3"> Resume</a> <br><hr>

    <a th:href = "@{/applicationCheck}" class="btn btn-primary btn-sm mb-3"> Check my applications</a> <br> <hr>


<form action="#" th:action="@{/search}" method="post">
    <input type="text" name="rech" placeholder="Search for job posts" required>
    <button type="submit" class="btn btn-primary btn-sm mb-3"> Search</button>
</form>
    <hr>
    <b>More choices :</b> <br>
<form action="#" th:action="@{/search/salary}" method="post">
        <input type="text" name="rechSalary" placeholder="Enter salary " >
    <button type="submit" class="btn btn-primary btn-sm mb-3"> Search</button><br></form>

    <hr>
<form action="#" th:action="@{/search/minmax}" method="post">
        <input type="number" name="min" placeholder="min Salary">
        <input type="number" name="max" placeholder="max Salary">
    <button type="submit" class="btn btn-primary btn-sm mb-3"> Search</button><br>
</form>
    <hr>
<form action="#" th:action="@{/search/experience}" method="post">
    <input type="text" name="experience" placeholder="years of experience">
    <button type="submit" class="btn btn-primary btn-sm mb-3"> Search</button> <br></form>
    <hr>
<form action="#" th:action="@{/search/skills}" method="post">
      <input type="text" name="skills" placeholder="skills">
    <button type="submit" class="btn btn-primary btn-sm mb-3"> Search</button><br> </form>
<hr>
 <form action="#" th:action="@{/search/location}" method="post">
     <input type="text" name="location" placeholder="city, country">
     <button type="submit" class="btn btn-primary btn-sm mb-3"> Search</button> <br>
 </form>
    <hr>


<h2 class="h2">All Offers</h2>
<hr>
<table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Company Name</th>
        <th>Location</th>
        <th>profile</th>
        <th>description</th>
        <th>skills</th>
        <th>experience</th>
        <th>dateOffer </th>
        <th>salary </th>

    </tr>
    </thead>
    <tbody>-->
    <!--    <tr th:if="${offers.empty}">-->
    <!--      <td colspan="3">Aucun employée en base de données</td>-->
    <!--    </tr>-->
   <!--<tr th:each="employee: ${offers}" th:href="@{/offersForCandidates}">
        <td><span th:text="${employee.companyName}"> Prénom </span></td>
        <td><span th:text="${employee.location}"> Prénom </span></td>
        <td><span th:text="${employee.profile}"> Prénom </span></td>
        <td><span th:text="${employee.description}"> Prénom </span></td>
        <td><span th:text="${employee.skills}"> Prénom </span></td>
        <td><span th:text="${employee.experience}"> Nom </span></td>
        <td><span th:text="${employee.dateOffer}"> Nom </span></td>
        <td><span th:text="${employee.salary}"> Nom </span></td>
        <td> <a th:href="@{/offers/apply/{id}(id=${employee.idOffer})}" class="btn btn-primary">Apply</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>-->