<!DOCTYPE html>
<html lang="en" class="no-js"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Offer details</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="../../css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="../../css/selectize.css" />

    <!--Slider-->
    <link rel="stylesheet" href="../../css/owl.carousel.css" />
    <link rel="stylesheet" href="../../css/owl.theme.css" />
    <link rel="stylesheet" href="../../css/owl.transitions.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />

</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<!-- Navigation Bar-->
<header id="topnav" class="defaultscroll scroll-active">
    <!-- Menu Start -->
    <div class="container">
        <!-- Logo container-->
        <div>
            <a href="mySpaceRecruiter.html" class="logo">
                <img src="../../images/logo-blanc.png" alt="" class="logo-light"  height="60"  width="230" />
                <img src="../../images/logo-noir.png" alt="" class="logo-dark" height="60"  width="230" />
            </a>
        </div>


        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a th:href = "@{/offersForCandidates}">Home</a></li>
                <li><a th:href = "@{/application/check}" >My Applications</a></li>
                <li><a th:href = "@{/candidates/checkInterviews}">Interviews</a></li>

                <li class="has-submenu">
                    <a href="javascript:void(0)">Resume</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a th:href="@{/resumeForm}">Create Resume</a></li>
                        <li><a th:href="@{/upResume}">Upload Resume</a></li>
                        <li><a th:href="@{/editToResumeForm}">Edit Resume</a></li>
                        <li><a th:href="@{/deleteResume}">Delete Resume</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:void(0)">My profile </a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a th:href="@{/candidates/profil}">My profile</a></li>
                        <li><a th:href="@{/editAccount}" >Account settings</a></li>
                        <li><a th:href = "@{/delete}">Delete account</a></li>
                        <li><a th:href = "@{/logout}">Sign out </a></li>
                    </ul>
                </li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
    <!--end end-->
</header>




<!-- Start home -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Job Details</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="index.html" class="text-uppercase font-weight-bold">Home</a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold">Application</a></li>
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">Offer details</span>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- JOB DETAILS START -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-dark mb-3"><span th:text="${offer.profile}"></span></h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="job-detail border rounded p-4">
                        <div class="job-detail-content">
                            <img src="images/featured-job/img-4.png" alt="" class="img-fluid float-left mr-md-3 mr-2 mx-auto d-block">
                            <div class="job-detail-com-desc overflow-hidden d-block">
                                <h4 class="mb-2"><a href="#" class="text-dark"><span th:text="${offer.profile}"></span></a></h4>
                                <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i><span th:text="${offer.location}"></span></p>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-dark mt-4">Job Description :</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail border rounded mt-2 p-4">
                                <div class="job-detail-desc">
                                    <p class="text-muted mb-3">
                                        <span th:text="${offer.description}"></span>
                                    </p>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-dark mt-4">Qualifications :</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail border rounded mt-2 p-4">
                                <div class="job-detail-desc">

                                    <div class="job-details-desc-item" th:each="skill: ${offer.skills}">
                                        <div class="float-left mr-3">
                                            <i class="mdi mdi-send text-primary"></i>
                                        </div>
                                        <p class="text-muted mb-2">
                                            <span th:text="${skill}"></span>
                                        </p>

                                    </div>

                                    

                                    
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </div>

                <div class="col-lg-4 col-md-5 mt-4 mt-sm-0">
                    <div class="job-detail border rounded p-4">
                        <h5 class="text-muted text-center pb-2"></i>Information</h5>

                        <div class="job-detail-location pt-4 border-top">
                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-bank text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: <span th:text="${offer.location}"></span></p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-email text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: <span th:text="${recruiter.email}"></span></p>
                            </div>



<!--                            <div class="job-details-desc-item">-->
<!--                                <div class="float-left mr-2">-->
<!--                                    <i class="mdi mdi-cellphone-iphone text-muted"></i>-->
<!--                                </div>-->
<!--                                <p class="text-muted mb-2">: <span th:text="${recruiter.phoneNumber}"></span></p>-->
<!--                            </div>-->

                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-currency-usd text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: <span th:text="${offer.salary}"></span></p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-security text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: <span th:text="${offer.experience}"></span></p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-clock-outline text-muted"></i>
                                </div>
                                <p class="text-muted mb-2"> Creation: <span th:text="${offer.dateCreation}"></span></p>
                            </div>
                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-clock-outline text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">Expire: <span th:text="${offer.dateOffer}"></span></p>
                            </div>

                            <h6 class="text-dark f-17 mt-3 mb-0">Share Job :</h6>
                            <ul class="social-icon list-inline mt-3 mb-0">
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google-plus"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- JOB DETAILS END -->



<!-- footer start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="javascript:void(0)"><img src="images/light3.png" height="60"  width="230" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="mt-4">Our e-recruitment platform provides a user-friendly and efficient solution for both employers and job seekers, simplifying the recruitment process and facilitating successful matches between talented candidates and top-notch companies. </p>

            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title">Our Email :</p>
                <ul class="list-unstyled footer-list">
                    <li><a href="#" class="text-foot">jobMatchNow.platform@gmail.com</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title f-17">Contacts</p>
                <ul class="social-icon social list-inline mb-0">
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                </ul>
            </div>


        </div>
    </div>
</footer>
<!-- footer end -->

<!-- javascript -->
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/jquery.easing.min.js"></script>
<script src="../../js/plugins.js"></script>

<!-- selectize js -->
<script src="../../js/selectize.min.js"></script>

<script src="../../js/jquery.nice-select.min.js"></script>

<script src="../../js/app.js"></script>
</body>
</html>