<!DOCTYPE html>
<html lang="en" class="no-js"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Applications</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="../../css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="../../css/selectize.css" />

    <!--Slider-->
    <link rel="stylesheet" href="../../css/owl.carousel.css" />
    <link rel="stylesheet" href="../../css/owl.theme.css" />
    <link rel="stylesheet" href="../../css/owl.transitions.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
  var currentClass = $("#part-job-tab1").attr("class");
  $("#part-job-tab1").on("click", function() {
    $(this).removeClass(currentClass).addClass("nav-link rounded active"); });

   var currentClass = $("#part-job-tab2").attr("class");
  $("#part-job-tab2").on("click", function() {
    $(this).removeClass(currentClass).addClass("nav-link rounded active"); });

    var currentClass = $("#part-job-tab3").attr("class");
  $("#part-job-tab3").on("click", function() {
    $(this).removeClass(currentClass).addClass("nav-link rounded active"); });

    var currentClass = $("#part-job-tab4").attr("class");
  $("#part-job-tab4").on("click", function() {
    $(this).removeClass(currentClass).addClass("nav-link rounded active"); });


    });
    </script>

</head>

<body>
     <!-- Loader -->
     <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->

    <!-- Navigation Bar-->
    <header id="topnav" class="defaultscroll scroll-active">
        <!-- Menu Start -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="mySpaceRecruiter.html" class="logo">
                    <img src="../../images/light3.png" alt="" class="logo-light"  height="60"  width="230" />
                    <img src="../../images/dark3.png" alt="" class="logo-dark" height="60"  width="230" />
                </a>
            </div>                 
            <div class="buy-button">
                <a th:href = "@{/offers/showAddForm}" class="btn btn-primary" style="background-color: rgb(245, 209, 93);"><i class="mdi mdi-cloud-upload"></i> Post a Job</a>
            </div><!--end login button-->
            
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
    
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li><a th:href = "@{/offers}">Home</a></li>
                    <li><a th:href = "@{/recruiters/checkApplications}" >Applications</a></li>
                    <li><a th:href = "@{/recruiters/checkInterviews}">Interviews</a></li>

                    <li class="has-submenu">
                        <a href="javascript:void(0)">Search</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li><a th:href="@{/allresumes}">Candidates Listing</a></li>
                            <li><a th:href="@{/alljobs}">Offers Listing</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)">My profile </a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li><a th:href="@{/myProfile}">My profile</a></li>
                            <li><a th:href="@{/editAccount}" >Account settings</a></li>
                            <li><a th:href = "@{/delete}">Delete account</a></li>
                            <li><a th:href = "@{/logout}">Sign out </a></li>
                        </ul>
                    </li>
                </ul><!--end navigation menu-->
            </div><!--end navigation-->
        </div><!--end container-->
        <!--end end-->
    </header><!--end header-->
    <!-- Navbar End -->

     <!-- Start home -->
     <section class="bg-half page-next-level" style="background-color: aquamarine;">
         <div class="bg-overlay"></div>
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-md-6">
                     <div class="text-center text-white">
                         <h4 class="text-uppercase title mb-4">Applications</h4>
                         <ul class="page-next d-inline-block mb-0">
                             <li><a href="index.html" class="text-uppercase font-weight-bold">Applications</a></li>

                             <li>
                                 <span class="text-uppercase text-white font-weight-bold">Search in my Offers</span>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <div class="container">
         <div class="home-form-position">
             <div class="row justify-content-center">
                 <div class="col-lg-10">
                     <div class="home-registration-form job-list-reg-form bg-light shadow p-4">

                         <form class="registration-form" th:action="@{/search/inMyOffers}" method="post">
                             <div class="row">
                                 <div class="col-lg-3 col-md-6">
                                     <div class="registration-form-box">
                                         <i class="fa fa-briefcase"></i>
                                         <input required name="keyword" type="text" id="exampleInputName1" class="form-control rounded registration-input-box" placeholder="Job keywords...">
                                     </div>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                     <div class="registration-form-box">
                                         <i class="fa fa-location-arrow"></i>
                                         <input name="location" type="text" id="exampleInputName2" class="form-control rounded registration-input-box" placeholder="City , Country">
                                     </div>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                     <div class="registration-form-box">
                                         <i class="fa fa-list-alt"></i>
                                         <input name="salary" type="text" value="0" id="exampleInputName3" class="form-control rounded registration-input-box" placeholder="Salary">
                                     </div>
                                 </div>

                                 <div class="col-lg-3 col-md-6">
                                     <div class="registration-form-box">
                                         <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Submit" style="background-color: rgb(245, 209, 93);">
                                     </div>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- end home -->

    <section class="section">

        <!-- all jobs start -->
        <div class="container">
            <div class="home-form-position">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="home-registration-form bg-white job-list-grid-reg-form p-4 mb-3">
                            <ul class="nav nav-pills nav nav-pills bg-white rounded nav-justified flex-column flex-sm-row" id="pills-tab" role="tablist">

                                <li class="nav-item">
<!--                                    <a th:href="@{/applications/all}" class="nav-link rounded active" id="part-job-tab1" role="tab" >All</a>-->
                                     <a th:href="@{/applications/all}" class="nav-link rounded" id="part-job-tab1" role="tab" >All(<span th:text="${all}"></span>)</a>
                                </li>
                                <li class="nav-item">
<!--                                    <a th:href="@{/applications/accepted}" class="nav-link rounded" id="recent-job-tab2" data-toggle="pill"  role="tab" aria-controls="accepted-job" aria-selected="false">Accepted</a>-->
                                    <a th:href="@{/applications/accepted}" class="nav-link rounded" id="part-job-tab2" role="tab">Accepted(<span th:text="${accepted}"></span>)</a>

                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/applications/notseen}"  class="nav-link rounded" id="part-job-tab3" role="tab" >Not processed(<span th:text="${notseen}"></span>)</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/applications/rejected}" class="nav-link rounded" id="part-job-tab4"   role="tab" >Rejected(<span th:text="${rejected}"></span>)</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
                <div style="margin-left:100px ; margin-right:20px;" class="col-lg-9" th:each="app: ${applicationsRecruiter}">
                    <div class="row" >
                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item f-15"><span class="badge badge-success">Offer</span></li>
                                    </ul>

                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-2"><a href="#" class="text-dark"><span th:text="${app.offer.profile}"></span></a></h5>
                                        <ul class="list-unstyled">
                                            <li class="text-muted"><i class="mdi mdi-account mr-1"></i><span th:text="${app.offer.companyName}"></span></li>
                                            <li class="text-muted"><a href="" class="text-muted"><i class="mdi mdi-map-marker mr-1"></i><span th:text="${app.offer.location}"></span></a></li>
                                            <li class="text-muted"><i class="mdi mdi-currency-usd mr-1"></i><span th:text="${app.offer.salary}">$</span></li>
                                        </ul>
                                        <p class="text-muted mt-1 mb-0">Skills : <span th:text="${app.offer.skills}"></span></p>
                                        <p class="text-muted mt-1 mb-0">Experience : <span th:text="${app.offer.experience}"></span></p>

<!--                                        <p class="text-muted f-14 mb-1"><span th:text="${app.offer.location}"></span></p>-->
<!--                                        <p class="text-muted mb-1"><span th:text="${app.offer.salary}"></span></p>-->
<!--                                        <p class="text-muted mb-1"><span th:text="${app.offer.experience}"></span></p>-->
<!--                                        <p class="text-muted mb-1">Similarity: <span th:text="${app.similarity}">%</span></p>-->
<!--                                        <p class="text-muted mb-1">Missing skills :<span th:text="${app.missingSkills}"></span></p>-->

                                    </div>
                                </div>

                                <div class="apply-button p-3 border-top">
                                    <a th:href="@{/application/detail/{id}(id=${app.id})}"  class="btn btn-primary btn-sm">More details</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item f-15"><span class="badge badge-success">Candidate</span></li>
                                    </ul>

                                    <div class="grid-list-desc mt-3">
                                        <h5 class="mb-2"><a href="#" class="text-dark"><span th:text="${app.candidate.name + ' '+ app.candidate.surname}"></span></a></h5>
                                        <ul class="list-unstyled">
                                            <li class="text-muted"><i class="mdi mdi-account mr-1"></i><span th:text="${app.candidate.email}"></span></li>
                                            <li class="text-muted"><i class="mdi mdi-account mr-1"></i><span th:text="${app.candidate.phoneNumber}"></span></li>
                                        </ul>
                                        <p class="text-muted mt-1 mb-0">Similarity : <span th:text="${app.similarity}"></span>%</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped position-relative bg-primary" th:style="'width: ' + ${app.similarity} + '%;'" >
<!--                                                <div class="progress-value d-block text-muted h6"><span th:text="${app.similarity}"></span>%</div>-->
                                            </div>
                                        </div>
                                        <p class="text-muted mt-1 mb-0">Missing skills : <span th:text="${app.missingSkills}"></span></p>
                                        <br>
<!--                                        <p class="text-muted f-14 mb-1"><span th:text="${app.candidate.email}"></span></p>-->
<!--                                        <p class="text-muted mb-1"><span th:text="${ app.candidate.phoneNumber}"></span></p>-->
                                    </div>

                                </div>

                                <div class="apply-button p-3 border-top"> <!--th:href="@{/application/resume/{id}(id=${application.id})}" -->
                                    <a  th:href="@{/application/resume/{id}(id=${app.id})}" class="btn btn-primary btn-sm">View Resume </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="list-grid-item rounded">
                                <div class="grid-item-content p-3">
                                    <ul class="list-inline mb-0">
                                        <th:block th:if="${app.confirmation == null}">
                                            <li class="list-inline-item f-15" ><span class="badge badge-success" style="background-color : blue ;">Not Processed yet</span></li>
                                        </th:block>
                                        <th:block th:if="${app.confirmation}">
                                        <li class="list-inline-item f-15"><span class="badge badge-success">Accepted</span></li>
                                        </th:block>
                                        <th:block th:if="${app.confirmation == false}">
                                            <li class="list-inline-item f-15" ><span class="badge badge-success" style="background-color : red ;">Rejected</span></li>
                                        </th:block>
                                    </ul>
                                </div>
                                <div class="apply-button p-3 border-top">

                                    <th:block th:if="${app.confirmation == null}">
                                        <a th:href="@{/application/accept/{id}(id=${app.id})}" class="btn btn-success mb-3 mr-2">Accept</a>
                                        <a th:href="@{/application/reject/{id}(id=${app.id})}" class="btn btn-danger mb-3 mr-2">Reject</a>

<!--                                        <div class="alert alert-primary" role="alert">This application has not been processed</div>-->
                                    </th:block>

                                    <th:block th:if="${app.confirmation}">
<!--                                        <div class="alert alert-success" role="alert"> You have ACCEPTED this application</div>-->
<!--                                        <br>-->
                                        <th:block th:if="${app.dateInterview != null}">
                                            <div class="grid-list-desc mt-3">
                                                <p class="text-muted f-14 mb-1">Date Interview : <span th:text="${app.dateInterview}"></span></p>
                                                <p class="text-muted f-14 mb-1">Time Interview : <span th:text="${app.timeInterview}"></span> </p>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${app.dateInterview == null}">
                                            <div class="grid-list-desc mt-3">
                                                <h5 class="mb-1"><a href="#" class="text-dark">Interview:</a></h5>
                                            <form  th:action="@{/application/accept/sendEmail/{id}(id=${app.id})}"  method="get">
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Date</label>
                                                        <input type="date" placeholder="dd/mm/yyyy"  name="date1"  id="subject" class="form-control" >
                                                        <label>Time</label>
                                                        <input type="time"  name ="time1" class="form-control" >
                                                    </div>
                                                </div><!--end col-->
                                                <div class="apply-button p-3 border-top">
                                                    <button type="submit" class="btn btn-primary btn-sm">Send Email</button>
                                                </div>
                                            </form>
                                            </div>
                                        </th:block>
                                    </th:block>

<!--                                    <th:block th:if="${app.confirmation == false}">-->
<!--                                        <div class="alert alert-danger" role="alert"> You have REJECTED this application</div>-->
<!--                                    </th:block>-->
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="mdi mdi-chevron-double-left f-15"></i>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="mdi mdi-chevron-double-right f-15"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>


     <!-- footer start -->
     <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                     <a href="javascript:void(0)"><img src="images/light3.png" height="60"  width="230" alt=""></a>
                 </div>
                 <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                     <p class="mt-4">Our e-recruitment platform provides a user-friendly and efficient solution for both employers and job seekers, simplifying the recruitment process and facilitating successful matches between talented candidates and top-notch companies. </p>

                 </div>
                 <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                     <p class="text-white mb-4 footer-list-title">Our Email :</p>
                     <ul class="list-unstyled footer-list">
                         <li><a href="#" class="text-foot">jobMatchNow.platform@gmail.com</a></li>
                     </ul>
                 </div>

                 <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                     <p class="text-white mb-4 footer-list-title f-17">Contacts</p>
                     <ul class="social-icon social list-inline mb-0">
                         <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                         <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                         <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                         <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                     </ul>
                 </div>


             </div>
         </div>
     </footer>
     <!-- footer end -->
     <!-- javascript -->
     <script src="../../js/jquery.min.js"></script>
     <script src="../../js/bootstrap.bundle.min.js"></script>
     <script src="../../js/jquery.easing.min.js"></script>
     <script src="../../js/plugins.js"></script>

     <!-- selectize js -->
     <script src="../../js/selectize.min.js"></script>

     <script src="../../js/jquery.nice-select.min.js"></script>

     <script src="../../js/app.js"></script>
<!--     <script>-->
<!--$(document).ready(function() {-->
<!--  // Détecter le clic sur les boutons bascules-->
<!--  $('.nav-link rounded active').on('click', function() {-->
<!--    // Récupérer la valeur du bouton bascule sélectionné-->
<!--    var selectedValue = $(this).attr('aria-controls');-->

<!--    // Envoyer la valeur au serveur-->
<!--    $.post('/apps/affichage', {-->
<!--      selectedTab: selectedValue-->
<!--    }, function(data) {-->
<!--      // Traiter la réponse du serveur si nécessaire-->
<!--    });-->
<!--  });-->
<!--});-->
<!--</script>-->

</body>
</html>