<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container my-2">

  <h2 class="h2">Resultat de recherche des Offres</h2>
  <table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Company</th>
      <th>Offer</th>
      <th>Recruiter </th>

    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${offers.empty}">-->
    <!--      <td colspan="3">Aucun employée en base de données</td>-->
    <!--    </tr>-->
    <tr th:each="employee: ${textOffers}">
      <td><ul>
        <li> <b>Company name :</b><span th:text="${employee.companyName}">  </span></li>
        <li> <b>location :</b><span th:text="${employee.location}">  </span></li>

      </ul></td>
      <td><ul>
        <li> <b>Company name : </b><span th:text="${employee.profile}"> Prénom </span></li>
        <li> <b>location : </b><span th:text="${employee.description}"> Prénom </span></li>
        <li> <b>Skills : </b><span th:text="${employee.skills}"> Prénom </span></li>
        <li><b>Experience :</b> <span th:text="${employee.experience}"> Nom </span></li>
        <li><b>Date max: </b><span th:text="${employee.dateOffer}"> Nom </span></li>
        <Li><b>Salary </b><span th:text="${employee.salary}"> Nom </span></li>
      </ul></td>
      <td><ul>
        <li> name :<span th:text="${employee.recruiter.name}">  </span></li>
        <li> Surname :<span th:text="${employee.recruiter.surname}">  </span></li>
        <li> email :<span th:text="${employee.recruiter.email}">  </span></li>

      </ul></td>
      <td> <a th:href="@{/offers/apply/{id}(id=${employee.idOffer})}" class="btn btn-primary">Apply</a>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>