<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
</head>
<body>
<div class="container">
    <h2>Resume</h2>
    <br><br>
    <a th:href="@{/editToResumeForm}" class="btn btn-primary btn-sm mb-3"> Edit Resume </a> <br>

    <a th:href = "@{/deleteResume}" class="btn btn-primary btn-sm mb-3"> Delete Resume</a> <br>
    <a th:href = "@{/showResume}" class="btn btn-primary btn-sm mb-3"> Show Resume</a> <br>

</div>
</body>
</html>