<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Resumes</title>
</head>
<body>
<div class="container my-2">
  <h2 class="h2">Resume search results</h2>
  <table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Candidate</th>
      <th>Post</th>
      <th>skills</th>
      <th>experience</th>
      <th>Projects</th>
    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${resumes.empty}">-->
    <!--      <td colspan="3">Aucun employée en base de données</td>-->
    <!--    </tr>-->
    <tr th:each="employee: ${resumes}">

      <td>
        <ul>
          <li> Name : <span th:text="${employee.candidate.name}"></span> </li>
          <li> Surname : <span th:text="${employee.candidate.surname}"></span> </li>
          <li> Phone number : <span th:text="${employee.candidate.phoneNumber}"></span> </li>
          <li> Email : <span th:text="${employee.candidate.email}"></span> </li>
          <li> <a th:href="${employee.candidate.email}">Resume.pdf</a> </li>
        </ul>
      </td>
      <td><span th:text="${employee.post}"> Prénom </span></td>
      <td><span th:text="${employee.skills}"> Prénom </span></td>
      <td><span th:text="${employee.experience}"> Nom </span></td>
      <td><span th:text="${employee.projects}"> Nom </span></td>

    </tr>
    </tbody>
  </table>
</div>
<a th:href="@{/mySpaceRecruiter}"> Back to my page</a>
</body>

</html>